bidict==0.22.1
blinker==1.6.2
click==8.1.3
Flask==2.3.2
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
greenlet==2.0.2
h11==0.14.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.24.1
python-engineio==4.7.1
python-socketio==5.9.0
simple-websocket==1.0.0
SQLAlchemy==2.0.19
typing_extensions==4.7.1
-e git+ssh://git@github.com/mbeanii/wackronyms.git@50cd4558f5dbe2abf602f6e4fe91b2e70946bb9b#egg=wackronyms
websockets==11.0.3
Werkzeug==2.3.6
wsproto==1.2.0
