<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script> 
            var playerName = "{{ player.name }}";
            var playerColor = "{{ player.color.hex_key}}";
            var title = "{{ title }}";
        </script>
        <script src="{{ url_for('static', filename='js/guest.js') }}"></script>
        <style>
            #addPlayerElement {
                display: block;
            }
            #reconnectElement {
                display: none;
            }
            #lobbyElements {
                display: none;
            }
            #startGameElement {
                display: none;
            }
            #responseElements {
                display: none;
            }
            #voteElements {
                display: none;
            }
            #revealElements {
                display: none;
            }
            #scoreElements {
                display: none;
            }
            #gameOverElement {
                display: none;
            }
        </style>
    </head>
    <body>

        <div id="addPlayerElement">
            <h2>Add Player</h2>
            <form action='{{ url_for("lobby")}}' method="post">
    
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="name">
                <button type="submit">Join Game</button>
                <br>
                <p> {{error}} </p>
            </form> 
        </div>

        <div id="reconnectElement">
            <h2>Reconnect</h2>
            <form action='{{ url_for("reconnect")}}' method="post">
    
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="name">
                <button type="button" id="reconnectButton">Reconnect Player</button>
                <br>
                <p> {{error}} </p>
            </form> 
        </div>

        <div id="lobbyElements">
            <p>Welcome to Wackronyms,<span style="color: {{player.color.hex_key}}"> {{ player.name }}</span></p>

            <!-- Create a modal for prompt entry -->
            <div id="promptEntryModal" class="modal">
                <div class="modal-content">
                    <h2>Enter Prompts</h2>
                    <form id="promptForm">
                        <input type="text" id="promptInput" placeholder="Enter a prompt">
                        <button type="button" id="addPromptButton">Add Prompt</button>
                    </form>
                    <div id="promptList">
                        <br>
                    </div>
                </div>
            </div>

            <div id="startGameElement">
                <button id="startGameButton">Start Game</button>
            </div>
        </div>

        <div id="responseElements">
            <div id="stageElement">
                <br>
            </div>

            <div id="promptElement">
                <br>
            </div>

            <div id="lettersElement">
                <br>
            </div>

            <div id="responseModal" class="modal">
                <div class="modal-content">
                    <h2>Enter Response</h2>
                    <form id="responseForm">
                        <input type="text" id="responseInput" placeholder="Submit a response">
                        <button type="button" id="submitResponseButton">Submit Response</button>
                    </form>
                </div>
            </div>
            <div id="submittedResponse">
                <br>
            </div>
            <div id="firstPlayerElement"></div>
        </div>

        <div id = voteElements>
            <div id="voteStageElement"><br></div>
            <div id="radioMenu"></div>
            <button id="submitVoteButton">Submit Vote</button>
            <div id="thanksForVoting"></div>
        </div>

        <div id = revealElements>
            <div id="revealStageElement"><br></div>

            <div id="advanceToScoreElement">
                <button id="advanceToScoreButton">Next</button>  <!-- Switch out for timer -->
            </div>
        </div>

        <div id = scoreElements>
            <div id="scoreStageElement"><br></div>

            <div id="advanceRoundElement">
                <button id="advanceRoundButton">Next Round</button>  <!-- Switch out for timer -->
            </div>

            <div id="finishGameElement">
                <button id="finishGameButton">Finish Game</button>
            </div>
        </div>

        <div id="gameOverElement">
            <p>Thanks for playing!</p>
        </div>

    </body>
</html>