<!DOCTYPE html>
<html>
    <head>
        <title>Wackronyms</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <style>
            /* CSS class for player names */
            .player-name {
                margin-right: 10px; /* Add some spacing between player names */
            }
        </style>
    </head>
    <body>
        <p>Players currently here: </p>
        <br>
        <div id="playerList"></div>
        <br>
        <br>
        <div id="promptList">
            <p>Submitted prompts: </p>
        </div>
        <br>

        <script>
          // Define the function to format the player list
          function formatPlayerList(data) {
              // Get the player list element
              var playerListElement = document.getElementById('playerList');
      
              // Clear the previous content
              playerListElement.innerHTML = '';
      
              // Iterate through the player list and add each player's name with their color
              data.player_list.forEach(function(player) {
                  var playerSpan = document.createElement('span');
                  playerSpan.textContent = player.name;
                  playerSpan.style.color = player.color;
                  playerSpan.className = 'player-name';
                  playerListElement.appendChild(playerSpan);
              });
          }
      
          // Websocket connection
          var socket = io.connect('http://' + document.domain + ':' + location.port + '/host');
      
          socket.on('connect', function() {
              console.log('WebSocket connected');
          });
      
          socket.on('update_list', function(data) {
              console.log('Received update:', data);
              formatPlayerList(data);
          });
      
          socket.on('transition', function(data) {
                console.log('Received update:', data);
                var stage = data.stage;
                var letters = data.letters;

                // Clear screen
                while (document.body.firstChild) {
                    document.body.removeChild(document.body.firstChild);
				}
                // Write on a fresh canvas
                var stageElement = document.createElement("div");
                stageElement.textContent = stage;
                document.body.appendChild(stageElement);

                var lettersElement = document.createElement("div");
                lettersElement.textContent = letters;
                document.body.appendChild(lettersElement);
			});

          socket.on('update_prompts', function(data) {
              var promptListElement = document.getElementById('promptList');
              promptListElement.innerHTML = ''; // Clear previous prompts
              data.prompts.forEach(function(prompt) {
                  var promptElement = document.createElement('p');
                  promptElement.textContent = prompt.prompt;
                  promptElement.style.color = prompt.player.color;
                  promptListElement.appendChild(promptElement);
              });
          });
      
          // Call the formatPlayerList function when the page loads with the data from Flask
          formatPlayerList({ player_list: {{ player_names|tojson|safe }} });
       </script>
      
    </body>
</html>
