<!DOCTYPE html>
<html>
    <head>
        <title>Wackronyms</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    </head>
    <body>
        <p>Players currently here: </p>
        <br>
        <p id="playerList"></p>

        <script>
            // JavaScript code for WebSocket connection
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/host');
            
            // Event handler for when the connection is established
            socket.on('connect', function() {
                console.log('WebSocket connected');
            });
    
            // Event handler for receiving 'update_list' events
            socket.on('update_list', function(data) {
                console.log('Received update:', data);
                
                // Update the content of the player list dynamically
                var playerListElement = document.getElementById('playerList');
                playerListElement.textContent = data.player_list.join(', ');
            });

            socket.on('reroute', function(data) {
                console.log('Received update:', data);
                    window.location.href = data.url;
          });
        </script>
    </body>
</html>